.App {
    height: 100vh;
    width: 100vw;
    background-image: url(./assets/scott-webb-OxHPDs4WV8Y-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}